<section>
  <h1>Experiencia</h1>
  <div class="container-fluid">
    <div *ngFor="let item of experiencia" class="row mb-1">
      <div class="col">
        <h2>{{item.job}}</h2>
        <p>{{item.company}}</p>
        <p>Desde: {{item.start}}</p>
        <p>Hasta: {{item.end}}</p>
      </div>
      <div class="col"><button *ngIf="usuarioAutenticado" class="btn btn-dark btn-sm" data-bs-toggle="modal"
          data-bs-target="#modalExperiencia" (click)="mostrarDatosExperiencia()">Editar</button> </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="modalExperiencia" tabindex="-1" aria-labelledby="modalExperiencia" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar experiencias</h5>
        <!--bottón cerrar-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="job" class="form-label">Puesto</label>
            <input type="text" class="form-control" id="job" aria-describedby="jobHelp" formControlName="job">
            <!--<div *ngIf="job?.invalid && (job?.dirty || job?.touched)">
              <div *ngIf="job?.errors?.['required']" class="text-danger">
                El título o curso es obligatorio.
              </div>
            </div>-->
          </div>
          <div class="mb-3">
            <label for="company" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="company" aria-describedby="companyHelp"
              formControlName="company">
          </div>
          <div class="mb-3">
            <label for="start" class="form-label">Año de inicio</label>
            <input type="text" class="form-control" id="start" aria-describedby="startHelp" formControlName="start">
          </div>
          <div class="mb-3">
            <label for="end" class="form-label">Año de finalización</label>
            <input type="text" class="form-control" id="end" aria-describedby="endHelp" formControlName="end">
            <!--div id="emailHelp" class="form-text">Indicar año</div>-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalExperiencia" class="btn btn-secondary"
          data-bs-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-primary" (click)="guardarExperiencia()">Guardar</button>
      </div>
    </div>
  </div>